{% extends 'base.html.twig' %}

{% block carousel %}
	{% include "shared/_carousel.html.twig" %}
{% endblock %}

{% block body %}
	<h3>Nos meilleurs ventes</h3>
	<p>Découvrez les articles les plus vendus.</p>
	<div class="row">
		{% for product in products %}
			<div class="col-3">
				{% include "product/single_product.html.twig" %}
			</div>
		{% endfor %}
	</div>

	<hr class="featurette-divider">

	<div class="row featurette">
		<div class="col-md-7">
			<h2 class="featurette-heading">Une équipe de professionnel
				<p class="text-muted text-center">au grand savoir-faire</p>
			</h2>
			<p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
		</div>
		<div class="col-md-5">
			<img src="{{ asset('assets/image/first.jpg') }}" class="img-fluid" alt="">
		</div>
	</div>

	<hr class="featurette-divider">

	<div class="row featurette">
		<div class="col-md-7 order-md-2">
			<h2 class="featurette-heading">Venez à notre rencontre dans
				<p class="text-muted text-center">nos boutiques en France.</p>
			</h2>
			<p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
		</div>
		<div class="col-md-5 order-md-1">
			<img src="{{ asset('assets/image/second.jpg') }}" class="img-fluid" alt="">
		</div>
	</div>

	<hr class="featurette-divider">
{% endblock %}
