{% extends 'base.html.twig' %}

{% block title %}Mot de passe oublié
{% endblock %}

{% block body %}
	<div class="container">
		<div class="row justify-content-md-center my-5">
			<div class="col-8">
				{% for message in app.flashes('notice') %}
					<div class="alert alert-info">
						{{ message }}
					</div>
				{% endfor %}

				<form method="post">
					<h1 class="h3 my-5 font-weight-normal">Réinitialiser mon mot de passe</h1>
					<div class="form-group">
						<label for="inputEmail">Email</label>
						<input type="email" name="email" id="inputEmail" class="form-control" autocomplete="email" required autofocus>
					</div>
					<hr>
					<button class="btn btn-lg btn-info btn-block" type="submit">
						Valider
					</button>
					<hr>
					<p class="text-center">Ou
						<a href="{{ path('app_login') }}">vous connecter</a>
					</p>
				</form>
			</div>
		</div>
	</div>
{% endblock %}
