{% extends 'base.html.twig' %}

{% block title %}Mot de passe oublié
{% endblock %}

{% block body %}
	<div class="container">
		<div class="row justify-content-md-center my-5">
			<div class="col-8">
				{% for message in app.flashes('notice') %}
					<div class="alert alert-info">
						{{ message }}
					</div>
				{% endfor %}
				<h1 class="h3 my-5 font-weight-normal">Réinitialiser mon mot de passe</h1>
				{% for message in app.flashes('notice') %}
					<div class="alert alert-info">
						{{ message }}
					</div>
				{% endfor %}

				{{ form(form) }}
				</div>
			</div>
		</div>
	{% endblock %}
