<!DOCTYPE html>
<html lang="fr">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<meta name="description" content="La boutique qui vend uniquement du made in France.">
		<title>
			{% block title %}
				La boutique Française - 100% made in France
			{% endblock %}
		</title>
		<link rel="stylesheet" href="{{ asset('assets/css/style.css') }}">
		<link href="{{ asset('assets/css/bootstrap.min.css') }}" rel="stylesheet">
		<link href="{{ asset('assets/css/carousel.css') }}" rel="stylesheet">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
	</head>
	<body>
		<header>
			{% include "shared/_navbar.html.twig" %}
		</header>

		{% block carousel %}{% endblock %}

		<div class="container"> {% block body %}{% endblock %}
			</div>

			<footer class="mt-5 py-5 text-center container-fluid">
				{% include "shared/_footer.html.twig" %}
			</footer>

			<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
			<script src="{{asset('assets/js/bootstrap.bundle.js') }}"></script>

			{% block javascript %}{% endblock %}

			{% block script %}{% endblock %}
		</body>
	</html>
